---
import '@fontSource/anek-gujarati';

interface Props {
  title: string;
  description?: string;
  image?: string;
}

const {
  title = 'Easy CSV',
  description = 'A web application to visualize your CSV files',
  image = `${Astro.site?.origin}/Image-by-pch.vector-on-Freepik.svg`,
} = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />

    <!-- Open Grpah Meta -->
    <meta property='og:type' content='website' />
    <meta property='og:url' content={Astro.url} />
    <meta property='og:title' content={title} />
    <meta property='og:description' content={description} />
    <meta property='og:image' content={image} />
    <meta property='og:image:alt' content={description} />

    <!-- Twitter Meta -->
    <meta property='twitter:card' content='summary_large_image' />
    <meta property='twitter:url' content={Astro.url} />
    <meta property='twitter:title' content={title} />
    <meta property='twitter:description' content={description} />
    <meta property='twitter:image' content={image} />
    <meta property='twitter:image:alt' content={description} />

    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
